<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">
        <button (click)="colSort(column)">
          {{column.name}} 
          <fa-icon [icon]="faSort" *ngIf="column.id != sortCol"></fa-icon>
          <fa-icon [icon]="faSortUp" *ngIf="column.id == sortCol && sortOrder == asc"></fa-icon>
          <fa-icon [icon]="faSortDown" *ngIf="column.id == sortCol && sortOrder != asc"></fa-icon>
        </button> 
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let song of songs">
      <td style="width:20%">{{song.artist_name}}</td>
      <td style="width:20%">{{song.album_name}}</td>
      <td style="width:15%">{{song.year_released}}</td>
      <td style="width:15%">{{song.track}}</td>
      <td style="width:30%">{{song.name}}</td>
    </tr>
  </tbody>
</table>

<div class="links">
  <button *ngFor="let page of pages" (click)='paginationClick(page.link)'>{{page.rel}}</button>
</div>