table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    overflow-wrap: break-word;
  }

  th button{
    border:none;
    background:none;
    width: 100%;
    cursor: pointer;
    outline: none;
  }
  
  tr:nth-child(even) {
    background-color: #efefef;
  }

  .links{
      display: flex;
        border: 1px solid #dddddd;
      button{
          cursor: pointer;
          padding: 15px;
          border-color: #dddddd;
          background:none;
          text-transform: uppercase;
          border-style: solid;
          border-width: 0 1px 0 0;
          color: blue;
      }

  }